{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dataTables/dataTables.bootstrap.css') }}">

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dataTables/dataTables.responsive.css') }}">

    <!-- Donut Chart CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/percircle.css') }}">

{% endblock %}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block scripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static',filename='js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/dataTables/dataTables.bootstrap.min.js') }}"></script>

    <!-- Donut Chart JS -->
    <script src="{{ url_for('static',filename='js/percircle.js') }}"></script>

    <!-- Toast JS -->
    <script src="{{ url_for('static',filename='js/toast.min.js') }}"></script>

    <!-- App Javascript -->
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>


{% endblock %}
{% block finally_scripts %}

    <script>
        $(document).ready(function () {
            <!-- Tables - Use for reference -->
            $('#stockTable').DataTable({
                responsive: true,
                lengthChange: false,
                order: [3, 'desc']
            });

            <!-- Ajax -->
            checkboxAjax($('[name="freeroll"]'), '{{ url_for(".index") }}', function (data) {
                let obj = JSON.parse(data);
                for (let key in obj) {
                    if (obj.hasOwnProperty(key)) {
                        $('#' + key).text((typeof obj[key] === 'string') ? obj[key] : obj[key].toFixed(2));
                    }
                }
            });


            <!-- Donut Charts -->
            $("#chartGain").percircle();
            $("#chartLoss").percircle();
            $("#chartWinRate").percircle();

            <!-- Render Toast -->
            let toastMsg = '{{ session.pop("toast") if  session.get("toast") else None}}';
            if (toastMsg !== "None") {
                const options = {
                    style: {
                        main: {
                            width: "50%"
                        }
                    }
                };
                iqwerty.toast.toast(toastMsg, options);
            }
        });
    </script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block ptitle %}Dashboard{% endblock %}
{% block content %}
    <!-- /.row -->
    <div class="row">
        {% include "includes/panels/panel_overall.html" %}
    </div>
    <!-- /.row -->
    <div class="row">
        {% include "includes/panels/panel_portfolio.html" %}
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Trade
                </div>
                <div class="panel-body">
                    <form class="form" action="" role="form" method="post">
                        {{ wtf.quick_form(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
